<html>
<head>
    <script src="https://code.jquery.com/jquery-2.1.4.min.js"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css"
          integrity="sha512-dTfge/zgoMYpP7QbHy4gWMEGsbsdZeCXz7irItjcC3sPUFtf0kuFbDz/ixG7ArTxmDjLXDmezHubeNikyKGVyQ=="
          crossorigin="anonymous">

    <!-- Optional theme -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap-theme.min.css"
          integrity="sha384-aUGj/X2zp5rLCbBxumKTCw2Z50WgIr1vs/PFN4praOTvYXWlVyh2UtNUU0KAUhAX" crossorigin="anonymous">

    <!-- Latest compiled and minified JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"
            integrity="sha512-K1qjQ+NcF2TYO/eI3M6v8EiNYZfA95pQumfvcVrTHtwQVDG+aHRqLi/ETn2uB+1JqwYqVG3LIvdm9lj6imS/pQ=="
            crossorigin="anonymous"></script>
    <style>
        .mar-top {
            margin-top: 70px
        }
    </style>
</head>
<body>
<nav class="navbar navbar-default navbar-fixed-top">  <div class="navbar-header"> <div> <ul class="nav navbar-nav">
                <li ><a href="/home">Home</a></li>
                <li class="active"><a href="/projects/add">Add A Project</a></li>
                <li><a href="/site/add">Add a Site</a></li>
                <li><a href="/site/addSurveyDetails">Add Survey Details</a></li>
                <li><a href="/site/addNewLot">Create a Lot</a></li>
                <li ><a href="/artifacts/addArtifact">Add Artifact</a></li>
            </ul>
        </div></div>

</nav>


    <div class="container"><form action="/projects/add" method="post" id="formData">

        <div class="form-group mar-top">
            <input type="text" class="form-control" placeholder="Project Name" name="pro_name">
        </div>

        <div class="form-group">
            <input type="text" class="form-control" placeholder="Principal Investigator" name="princ_invest">
        </div>

        <div class="form-group">
        <input type="text" class="form-control" placeholder="Project Director" name="pro_direc">
        </div>

        <div class="form-group">
        <input type="text" class="form-control" placeholder="Amount invested" name="amount_invest">
        </div>

        <div class="form-group">
        <select id="comp_name" name="comp_name" class="form-control">
            <option value="" disabled selected>Choose company name</option>
        </select>
            </div>


            <div class="form-group">
        <button type="submit" id="submitButton"
                name="submitButton" value="Submit" class="btn btn-default">Add
        </button>
                </div>
    </form></div>
</body>
</html>


<script type="text/javascript">

    $.get('/funds/listOfInvestor/', function (data) {
        for (var j = 0; j < data.listOfInvestors.length; j++) {
            $('#comp_name').append('<option value="' + data.listOfInvestors[j].invest_id + '">' + data.listOfInvestors[j].comp_name + '</option>');
        }
    });

    $('formData').submit(function (event) {
        event.preventDefault();
        console.log('dd');

        // get the form data
        // there are many ways to get this data using jQuery (you can use the class or id also)
        var e = document.getElementById("comp_name");
        var strUser = e.options[e.selectedIndex].value;
        var formData = {
            'projectname': $('input[name=pro_name]').val(),
            'principalinvestigator': $('input[name=princ_invest]').val(),
            'projectdirector': $('input[name=pro_direc]').val(),
            'amountinvested': $('input[name=amount_invest]').val(),
            'comp_name_id': strUser
        };

        $.ajax({
            type: 'POST',
            url: '/projects/add',
            data: formData,
            dataType: 'json',
            encode: true
        }).done(function (data) {
                console.log(data);
                        window.location = "http://localhost:3000/projects/add";
                        console.log(data);

                });

        event.preventDefault();
    });

</script>

