<html>
<head>
    <script src="https://code.jquery.com/jquery-2.1.4.min.js"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css"
          integrity="sha512-dTfge/zgoMYpP7QbHy4gWMEGsbsdZeCXz7irItjcC3sPUFtf0kuFbDz/ixG7ArTxmDjLXDmezHubeNikyKGVyQ=="
          crossorigin="anonymous">

    <!-- Optional theme -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap-theme.min.css"
          integrity="sha384-aUGj/X2zp5rLCbBxumKTCw2Z50WgIr1vs/PFN4praOTvYXWlVyh2UtNUU0KAUhAX" crossorigin="anonymous">

    <!-- Latest compiled and minified JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"
            integrity="sha512-K1qjQ+NcF2TYO/eI3M6v8EiNYZfA95pQumfvcVrTHtwQVDG+aHRqLi/ETn2uB+1JqwYqVG3LIvdm9lj6imS/pQ=="
            crossorigin="anonymous"></script>
    <style>
        .mar-top {
            margin-top: 70px;
        }
    </style>
</head>
<body>
<nav class="navbar navbar-default navbar-fixed-top">
    <div class="navbar-header">
        <div>
            <ul class="nav navbar-nav">
                <li><a href="/">Home</a></li>
                <li><a href="/projects/list">Project Details</a></li>
                <li><a href="/funds/list">Funding Details</a></li>
                <li class="active"><a href="/site/list">Site Details</a></li>
                <li><a href="/artifacts/list">Details of artifacts</a></li>
            </ul>
        </div>
    </div>
</nav>
</body>
<div class="container">
    <table class="table mar-top">
        <thead>
        <tr>
            <th>location</th>
            <th>Principal Investigator</th>
            <th>start date</th>
            <th>end date</th>
            <th>project name</th>
            <th>latitude</th>
            <th>longitude</th>
            <th>length</th>
            <th>breadth</th>
        </tr>
        </thead>
        <tbody>
        <tr>
            <td id="lc"></td>
            <td id="pi"></td>
            <td id="sd"></td>
            <td id="ed"></td>
            <td id="pn"></td>
            <td id="lt"></td>
            <td id="ln"></td>
            <td id="lh"></td>
            <td id="bh"></td>
        </tr>
        </tbody>
    </table>
</div>
</html>

<script type="text/javascript">
    $.get("/site", function (data) { // Fires an Ajax POST request

        var fn = '';
        var pi = '';
        var sd = '';
        var ed = '';
        var pn = '';
        var lt = '';
        var ln = '';
        var lc = '';
        var lh = '';
        var bh = '';

        $.each(data.siteDetails, function (index, e) {
            lc+= e.location_name+'<br><br>';
            pi+= e.princ_invest+'<br><br>';
            sd+= e.start_date.slice(0,10)+'<br><br>';
            ed+= e.end_date.slice(0,10)+'<br><br>';
            pn+= e.pro_name+'<br><br>';
            lt+= e.latitude+'<br><br>';
            ln+= e.longitude+'<br><br>';
            lh+= e.length+'<br><br>';
            bh+= e.breadth+'<br><br>';
            console.log(e);
        });
        $("#lc").append(lc);
        $("#pi").append(pi);
        $("#sd").append(sd);
        $("#ed").append(ed);
        $("#pn").append(pn);
        $("#lt").append(lt);
        $("#ln").append(ln);
        $("#lh").append(lh);
        $("#bh").append(bh);


    });
</script>